<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false">
    <testsuites>
        <testsuite name="Test">
            <directory suffix="Test.php">./tests/WebServCo/Test</directory>
        </testsuite>
        <testsuite name="Framework">
            <directory suffix="Test.php">./tests/WebServCo/Framework</directory>
        </testsuite>
    </testsuites>
    <php>
	    <env name="APP_PATH_PROJECT" value="/path/to/webservco/framework/" />
	    <env name="APP_PATH_PUBLIC" value="/path/to/webservco/framework/public/" />
    </php>
</phpunit>
